@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e9e5e5;
  background-image: url('images/background1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -120px;
}

/* Navbar */
.nav-sec{
  background-color: red;
  height: 60px;
  display: flex;
  justify-content: center;
}

.nav-container{
  background-color: green;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.nav-logo{
  background-color: yellow;
  height: 100%;
  display: flex;
  align-items:center;
  margin-left: 25px;
  padding: 5px 25px;
}

.nav-menu{
  background-color: pink;
  height: 100%;
  width: 550px;
  display: flex;
  margin-left: 0px;
  margin-right: 150px;
}

.nav-menu ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}

.nav-menu ul li{
  height: 100%;
  display: flex;
  width: 100%;
  padding: 0 15px;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 25px;
}

.registration{
  background-color: yellow;
  height: 100%;
  width: 400px;
  display: flex;
  align-items:center;
  margin-right: 150px;
  padding: 5px 25px;
}