@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* body{
    background-color: #364258; 
    background-color: #323a47;
}*/

a{
    text-decoration: none;
    color: #fff;
}

.navbar{
    position: sticky;
    margin: 0 450px;
    top: 10px;
    width: 530px;
    margin-left: 500px;
    padding: 20px 0px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    z-index: 100;
    background:#FFFFFF08; 
    border: 1px solid #bad7ab;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/* .navbar .logo{
    font-size: 30px;
    font-weight: 700;
} */

.navbar ul{
    width: 100%;
    display: flex;
    /* background-color: red; */
}

.navbar ul li{
    list-style: none;
    margin: 0 10px; /*akhane change korchi*/
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    justify-content: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 13px;
    /* border: 1px solid #7cf03d; */
    padding: 2px 5px;
    border-radius: 20px;
    transition: 0.5s;
    /* background-color: yellow; */
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(136, 222, 8);
    transition: color 0.05s;

}

.home{
    display: flex;
    align-items: center;
    gap: 120px;
    height: 100vh;
    margin-top: -60px;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1{
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-info h2{
    display: inline-block;
    /* background-color: #c13434; */
    font-size: 32px;
    tab-margin: -10px;
}

.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s*var(--i));
}

.home-info p span{
    color: #6bdc2f;
    gap: 2px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes display-text{
    25%,100%{
        display: none;
    }
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    /* border: 2px solid #7cf03d; */
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.home-info p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0 40px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background:#7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-weight: bold;
    color: #1f242d;
    transition: 0.5s;
    font-size: 16px;
}

.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%; /*to make it a perfect circle */
    font-size: 20px;
    color: #7cf03d;
    margin: 0 7px;
}

.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    /* border: 2px solid #7cf03d; */
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
    transition: 0.5s;
}

/* .home-img{
    background-color: red;
} */

.home-img .img-box{
    background-color: green;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #7cf03d;
    border-radius: 20px;
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #6a7c99;
    border-radius: 20px;
    border: .1px solid #323a47;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

/* 
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent,transparent, #7cf03d);
    /* border-radius: 50%;
    z-index: -1; */
   /* transform: rotate(0deg);
    animation: rotate-boarder 10s linear infinite;
}*/

/*.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-boarder{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #323a47;
    border-radius: 50%;
    border: .1px solid #323a47;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    top: 15px;
    left: 30px;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-color: #323a47;
    transform: translateY(-100%);
    animation: animate 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s*var(--i));
}

/* create animation in css
@keyframes animate{
    100%{
        transform: translateY(0%);
    }
} */